# .NET Core
obj/
bin/

# IDE-specific files
.vscode/
.idea/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
packages/

# SQLite database file
*.db

# Logs
logs/

# Temp files
*.tmp
*.bak

# macOS
.DS_Store

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
